@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*                    font-family: 'Montserrat', sans-serif;                */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
/*                    font-family: 'Nunito Sans', sans-serif;                          */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
               /* font-family: 'Work Sans', sans-serif;   */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*                     roboto regular */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
button {
    cursor: pointer;
}
.justify-content-xxl-between {
    justify-content: space-between;
}

/* xxl 1400 <= infinity */
.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.margin {
    margin: auto;
}
h1 , h2 , h3 ,h4 ,h5 ,h6 {
    font-weight: normal;
}

.col-xxl-1 {
    width: calc(100%/12 * 1);
    padding: 0 15px;
}

.col-xxl-2 {
    width: calc(100%/12 * 2);
    padding: 0 15px;
}

.col-xxl-3 {
    width: calc(100%/12 * 3);
    padding: 0 15px;
}

.col-xxl-4 {
    width: calc(100%/12 * 4);
    padding: 0 15px;
}

.col-xxl-5 {
    width: calc(100%/12 * 5);
    padding: 0 15px;
}

.col-xxl-6 {
    width: calc(100%/12 * 6);
    padding: 0 15px;
}

.col-xxl-7 {
    width: calc(100%/12 * 7);
    padding: 0 15px;
}

.col-xxl-8 {
    width: calc(100%/12 * 8);
    padding: 0 15px;
}

.col-xxl-9 {
    width: calc(100%/12 * 9);
    padding: 0 15px;
}

.col-xxl-10 {
    width: calc(100%/12 * 10);
    padding: 0 15px;
}

.col-xxl-11 {
    width: calc(100%/12 * 11);
    padding: 0 15px;
}

.col-xxl-12 {
    width: calc(100%/12 * 12);
    padding: 0 15px;
}

/* xl 1200 <= 1399 */
@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

/* lg 992 <= 1199 */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

/* md 768 <= 991 */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

/* sm 576 <= 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

/* xs <= 575 */
@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}

/* ===========================header start */
header nav .xw{
    display: block;
    margin-top: 29px;
}

header nav ul{
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

header nav ul li a{
    color: #191919;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 28px;
}

header nav ul li a:hover{
    color: #007d2f;
}


header .info{
    background: #323232;
    margin-top: 18px;
}

header .info h2{
    color: #ffffff;
    font-family: "Montserrat";
    text-align: center;
    font-size: 61px;
    font-weight: 500;
    line-height: 77px;
    padding-top: 112px;
}

header .info p{
    color: #fdfdfd;
    font-family: "Nunito Sans";
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    font-weight: 400;
    padding-bottom: 111px;
}

.col-xxl-7{
    margin: auto;
}

.sec_img{
    background: #007d2f;
}

.img_top{
    padding: 70px 0px;
    font-family: "Montserrat";
    color: white;
}
.img_top .container .row{
    justify-content: space-between;
}
.mr_img {
    text-align: center;
}
.mr_img h3{
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}
.mr_img p {
    font-size: 11px;
    font-weight:400px ;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.info .box  {
    padding-bottom: 100px;
    padding-top: -50px;
}
.info .box .col-xxl-7 {
    padding-top: -100px;

}

.about{
    margin-bottom: 103px;
    background: #f5f5f5;
    border: none;
}

.about .kart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about .kart .center{
   padding-left: 110px;;
}

.about .kart .center h2{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 500;
    color: #171717;
    margin-bottom: 40px;
}

.about .kart .center p{
    font-family: "Nunito Sans";
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.title{
    margin-top: 34px;
}

.about .kart .center img{
    display: block;
    margin-top: 37px;
}

.col-xxl-6{
    margin: auto;
}

.bottom h2{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 500;
    color: #1d1d1d;
    line-height: 84px;
    text-align: center;
}

.bottom p{
    font-family: "Nunito Sans";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #818181;
    text-align: center;
    margin-bottom: 38px;
}

.bottom button{
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    padding: 22px 43px;
    background: #007d2f;
    text-align: center;
    margin: auto;
    display: block;
    border: none;
    
}

/* ============================footer start */

footer {
    background-color: black;
    margin-top: 100px;
    padding: 100px 0px;
    color: #bcbcbc;
    font-family: "Nunito Sans";
}
footer a{
    color: #bcbcbc;
}
footer .leftpartf h3 {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
}
footer .leftpartf h4{
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.05px;
    margin-top: 25px;
    margin-bottom: 10px;
}

footer .rightpartf{
    display: flex;
    justify-content: space-between;
}
footer a{
    transition: .2s;
}
footer a:hover{
    color: white;
}