@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*                    font-family: 'Montserrat', sans-serif;                */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
/*                    font-family: 'Nunito Sans', sans-serif;                          */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*                    font-family: 'Work Sans', sans-serif;                        */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
button {
    cursor: pointer;
}
.justify-content-xxl-between {
    justify-content: space-between;
}


/* xxl 1400 <= infinity */
.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.margin {
    margin: auto;
}
h1 , h2 , h3 ,h4 ,h5 ,h6 {
    font-weight: normal;
}

.col-xxl-1 {
    width: calc(100%/12 * 1);
    padding: 0 15px;
}

.col-xxl-2 {
    width: calc(100%/12 * 2);
    padding: 0 15px;
}

.col-xxl-3 {
    width: calc(100%/12 * 3);
    padding: 0 15px;
}

.col-xxl-4 {
    width: calc(100%/12 * 4);
    padding: 0 15px;
}

.col-xxl-5 {
    width: calc(100%/12 * 5);
    padding: 0 15px;
}

.col-xxl-6 {
    width: calc(100%/12 * 6);
    padding: 0 15px;
}

.col-xxl-7 {
    width: calc(100%/12 * 7);
    padding: 0 15px;
}

.col-xxl-8 {
    width: calc(100%/12 * 8);
    padding: 0 15px;
}

.col-xxl-9 {
    width: calc(100%/12 * 9);
    padding: 0 15px;
}

.col-xxl-10 {
    width: calc(100%/12 * 10);
    padding: 0 15px;
}

.col-xxl-11 {
    width: calc(100%/12 * 11);
    padding: 0 15px;
}

.col-xxl-12 {
    width: calc(100%/12 * 12);
    padding: 0 15px;
}

/* xl 1200 <= 1399 */
@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
    .justify-content-xl-evenly{
        justify-content: space-around;
    }
    main{
        background-position: 150% bottom;
    }
}

/* lg 992 <= 1199 */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .col-lg-4 {
        width: calc(100%/12 * 4);
        padding: 0 15px;
    }
    .col-lg-3 {
        width: calc(100%/12 * 3);
        padding: 0 15px;
    }
    footer{
        padding-bottom: 80px;
    }
    main img{
        object-fit: cover;
        object-position: center;
    }
}

/* md 768 <= 991 */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .col-md-5 {
        width: calc(100%/12 * 5);
        padding: 0 15px;
    }
    main{
        height: auto;
    }
    footer .rightpartf{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .col-md-8 {
        width: calc(100%/12 * 8);
        padding: 0 15px;
    }
    .col-md-4 {
        width: calc(100%/12 * 4);
        padding: 0 15px;
    }
    .col-md-6 {
        width: calc(100%/12 * 6);
        padding: 0 15px;
    }
    .marg{
        margin: auto;
        margin-top: 20px;
    }
}







header {
    padding: 17px 0px;
}
header .row {
    align-items: center;
}
header ul {
    display: flex; 
}
header ul li a {
    margin-left: 30px;
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(25, 25, 25);
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .3s;
}
header ul li a:hover{
    color: #007d2f;
}

/* ============================= */





main{
    /* height: 570px; */
    background: rgb(246,246,246);
    /* background-image: linear-gradient(90deg, rgba(246,246,246,1) 50%, rgba(230,230,230,1) 50%);
    background-image: url(img/123123123123132brooke-lark-HlNcigvUi4Q-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 100% bottom; */
    padding: 100px 0px;
}
main h1 {
    font-size: 38px;
    font-family: "Montserrat";
    color: rgb(23, 23, 23);
    text-align: left;
    font-weight: 500;
    letter-spacing: .1px;
    margin-bottom: 28px;
}
main p {
    font-size: 16px;
    font-family: "Nunito Sans";
    color: rgb(120, 120, 120);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 30px;
}
main h5{
    font-size: 16px;
    font-family: "Nunito Sans";
    color: rgb(120, 120, 120);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 35px;
}
main span {
    font-weight: bold;
    color: black;
    margin-right: 10px;
}
main h4{
    font-size: 16px;
    font-family: "Nunito Sans";
    color: #787878;
    font-weight: normal;
    line-height: 2.25;
    text-align: left;
}
main h4 a {
    color: #787878;
}
  
  






















.line {
    padding: 45px 0px 35px 0px;
    background-color: #007d2f;
}
.line a {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.line a img:nth-child(1){
    margin-right: 14px;
}
.marginleft14{
    margin-left: 14px;
}
  


/* ================================================footer  */

footer {
    background-color: black;
    padding: 100px 0px;
    color: #bcbcbc;
    font-family: "Nunito Sans";

}
footer a{
    color: #bcbcbc;
}
footer .leftpartf h3 {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
}
footer .leftpartf h4{
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.05px;
    margin-top: 25px;
    margin-bottom: 10px;
}

footer .rightpartf{
    display: flex;
    justify-content: space-between;
}
footer a{
    transition: .2s;
}
footer a:hover{
    color: white;
}
  

 /* ================================================footer  */


header .swipe{
    display: none;
}
.line .lefticon{
    display: none;
}
.line .righticon{
    display: none;
}


/* sm 576 <= 767px */

 @media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .col-sm-2 {
        width: calc(100%/12 * 2);
        padding: 0 15px;
    }
    .col-sm-4 {
        width: calc(100%/12 * 4);
        padding: 0 15px;
    }
    .col-sm-5 {
        width: calc(100%/12 * 5);
        padding: 0 15px;
    }
    .col-sm-1 {
        width: calc(100%/12 * 1);
        padding: 0 15px;
    }
    .marg{
        margin: 0;
        margin-top: 0;
    }
    footer .rightpartf{
        margin-top: 50px;
    }
    footer{
        padding: 70px 0px;
    }
    header .swipe{
        display: inline-block;
        font-size: 40px;
    }
    header .hover{
        position: relative;
    }
    header .hover ul{
        display: none;
        position: absolute;
        z-index: 1;
        left: -100%;
        top:150%;
        border-collapse: collapse;
    }
    header .hover ul li{
        border-collapse: collapse;

    }
    header .hover ul li a{
        background-color: white;
        display: inline-block;
        width: 200px;
        height: 50px;
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 16px;
        transition: .3s;
    }
    header .hover ul li a:hover{
        background-color: black;
        color: white;
    }
    header .hover:hover ul{
        display: block;
    }
    main{
        padding: 65px 0px;
    }
    main h1{
        font-size: 26px;
    }
    main h1{
        font-size: 14px;
    }
    main h5{
        font-size: 14px;
    }
    main h4{
        font-size: 14px;
    }
}

/* xs <= 575 */
@media (max-width: 575px) {
    .container {
        width: 100%;
    }
    main img{display: none;}
    .col-12 {
        width: calc(100%/12 * 12);
        padding: 0 15px;
    }
    .col-7 {
        width: calc(100%/12 * 7);
        padding: 0 15px;
    }
    .col-4 {
        width: calc(100%/12 * 4);
        padding: 0 15px;
    }
    .col-2 {
        width: calc(100%/12 * 2);
        padding: 0 15px;
    }
    .justify-content-center{
        justify-content: center;
        flex-direction: column;
    }
    .leftpartf{
        margin: auto;
        text-align: center;
    }
    .centerpartf{
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }
    .rightpartf{
        margin: auto;
        text-align: center;
    }
    footer .rightpartf{
        justify-content: space-evenly;
    }
    .line .none{
        display: none;
    }
    .line .lefticon{
        display: block;
        font-size: 40px;
        color: white;
    }
    .line .righticon{
        display: block;
        font-size: 40px;
        color: white;
    }
    footer .rightpartf{
        position: relative;
        left: -5%;
    }
    .line .row{
        align-items: center;
    }
    .line .col-4 img{
        display: block;
        width: 25px;
    }


}
@media (max-width: 500px){
    header .swipe{
        margin-left: -70%;
    }
}
@media (max-width: 641px){
    header .hover ul{
        left: -150%;
    }
}
@media (max-width: 440px){
    header .hover ul{
        left: -180%;
    }
}
@media (max-width: 555px){
    header .hover ul{
        left: -180%;
    }
}
@media (max-width: 495px){
    header .hover ul{
        left: -250%;
    }
}
@media (max-width: 399px){
    header .hover ul{
        left: -300%;
    }
}
@media (max-width: 350px){
    header .hover ul{
        left: -350%;
    }
}